/*for header one*/
#firstheader{
	background-color:#910552;
	font-family: Alegreya SC;
	font-weight: 2em;
	opacity: 7;
	height:40px;
}
/*login button*/
.login{
	background-color:#cccccc;
	border:none;
	height:40px;
	width:100px;
	 text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    color: black;
    border-radius: 2px;
    margin-right:10px;

}
.alum{
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
#navbar{
	background-color: #e05988;
	height:80px;
}
.btn-brand{
	background-color: #579191;
}
.events{
	background: url('https://i.ytimg.com/vi/XwSNvscaMvA/maxresdefault.jpg');
	
	background-size: 100% 600px;
}
	 

.nav-link{
	color:black;
	padding:0.8rem;
	font-size: 1.6rem;
	margin-right:50px;
}
.firstscreen{
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	    background-repeat: no-repeat;
    background-size: auto;
}
.texttwo{
	font-family: Tangerine;
	font-size:60px;
	text-align: center;
	color: black;
	font-weight: bolder;
}
.text{
	font-family: Tangerine;
	 text-shadow: 4px 4px 4px #aaa;
	 font-size: 120px;
	 position:absolute;
	 text-align: center;
	 color: white;
	
}
.galleria{
	background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.headline{
	font-family: Alegreya SC;
	background-color:black;
	color:white;
	width: 100%;
	text-align: center;
	font-size:2rem;

}
.headers{
	font-family: Alegreya SC;
	background-color:black;
	color:white;
	width: 100%;
	text-align: center;
	font-size:2rem;

}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
.gals{
	font-family: Alegreya SC;
	background-color:black;
	color:white;
	width: 100%;
	text-align: center;
	font-size:2rem;

}
.talking{
	font-family: Alegreya SC;
	background-color:black;
	color:white;
	width: 100%;
	text-align: center;
	font-size:2rem;

}

/* equal card height */
.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
}


/* control image height */
.card-img-top {
    max-height: 180px;
    overflow:hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
{
    transition: all 1s ease;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 40px 0;
}

section .section-title {
    text-align: center;
    ;    margin-bottom: 30px;
    text-transform: uppercase;
}
.talks{
background: #e1eec3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#footer {
    background: #910552 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

.btns{
	margin-left: 50%;
	margin-right: 50%;
	text-align: center;
	width: 180px;
    text-decoration: none;
    display: inline-block;
    background-color: #cccccc;
    color: black;
    font-weight: bold;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
